.sideNav {
    padding: 0px 35px;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s;
}

.sideNav-items {
    padding-top: 8rem;

}

.menu-links {
    display: flex;
    margin-top: 30px;
    align-items: center;
    color: #fff;
}

.menu-links i {
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
    transition: 1.5s;
    margin-top: -6px;
}

.menu-links h5 {
    visibility: hidden;
    cursor: pointer;
    font-size: 15px;
    opacity: 0;
    transition: 0.5s;
}

.sideNav:hover h5 {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}

.sideNav:hover {
    height: 100vh;
    width: 250px;
    transition: 0.5s;
}

.fofo {
    background: linear-gradient(90deg, rgb(0 0 0) 0%, rgba(1, 1, 2, 0.856) 35%, rgba(5, 0, 0, 0.0) 100%);
    height: 100vh;
    width: 250px;
    transition: 0.5s;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sideNav:hover .fofo {
    transform: translateX(0%);
}

.carousel {
    margin: 0 25px;
    height: 450px;
    padding-left: 25px;
}

.carousel img {
    border-radius: 10px;
    height: 400px;
}

.carousel-indicators .active {
    opacity: 1;
    width: 50px !important;
    border-radius: 15px !important;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel button {
    width: 10px !important;
    height: 10px !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-radius: 50%;

}

/* Popup-section */
.Register-section{
    position: absolute;
    right: 20px;
    background-color: rgb(248, 243, 243);
    width: 180px;
    padding: 0;
    right:0;
    margin-top: 10px;
    display: none;
}

.Register-section li{
    width: 100%;
    list-style: none;
    text-align: left;;
    padding: 8px 8px;
    border-bottom: 1px solid rgba(194, 193, 193, 0.562);
    font-size: 14px;
    transition: all 0.3s ease-in;
}
.Register-section li:hover{
    background-color: rgb(44, 52, 160);
    color: white;
}
.show:hover .Register-section{
     display: block;
   transition-delay: 0.5s;
}