@media only screen and (max-width: 768px) {
    .middle-container {
         width: 670px!important;
         height: 445px;
         left: 49%;
    }
    .form-section {
        width: 360px;
        margin-right: 68px;
    }
    .cancel {
        position: absolute;
        z-index: 99999999;
        right: 77px;
        top: 16px;
    }
    .forgot-pin input {
        width: 47px;
        height: 47px;
        margin-right: 5px;
        font-size: 22px;
        text-align: center;
        outline: none;
        border: none;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 425px) {
    .middle-container {
         width: 380px!important;
         height: 445px;
         left: 49%;
    }
    .form-section {
        margin-top: 7px;
        width: 356px;
        position: absolute;
        /* right: 18rem; */
        left: 26%;
    }
    .form-items {
        position: relative; 
        padding: 10px 32px;
        margin-left: 20px;
    }
    .cancel i{
        font-size: 23px;
    }
    .cancel{
        position: absolute;
        right: 14.5rem;
    }

    .forgot-pin input {
        width: 37px;
        height: 37px;
        margin-right: 9px;
        font-size: 20px;

    }

    .polocies span {
        color: #fff!important;
        font-size: 13px;
        align-items: center;
    }
    .fields label{
        font-size: 14px;
    }
    .fields input{
        padding: 6px 6px;
        font-size: 12px;
    }
    .fields i {
        top: 32px;
        right: 10px;
        font-size: 16px;
    }
    .inline span {
        font-size: 12px;
    }
    .inline a{
        font-size: 12px;
    }
    .fields button{
        padding: 4px 12px;
        font-size: 14px;
    }
    .dont-account p {
        font-size: 14px;
    }
    .fields p {
        color: #fff;
        margin-top: 0px;
        padding: 4px 5px;
        font-family: "Roboto Regular";
        font-size: 18px;
    }
}
/*  */

@media only screen and (max-width: 375px) {
    .middle-container {
        width: 326px!important;
        height: 445px;
        left: 50%;
    }
    .form-section {
        margin-top: -7px;
        width: 356px;
        position: absolute;
    }
    .forgot span {
        background-color: #fff;
        color: #000;
        font-size: 12px;
        padding: 2px 11px;
        padding-top: 5px;
        border: 2px solid #10414b61;
        border-radius: 4px;
        margin: 10px 0;
        font-weight: 700;
    }
    .form-items h4 {
        color: #fff;
        padding: 36px 0 0px 0;
        font-size: 16px;
        font-family: 'Roboto';
        margin-bottom: 25px !important;
    }
    .fields button {
        padding: 6px 12px;
        font-size: 14px;
    }
    .cancel {
        position: absolute;
        right: 15.5rem;
    }
    .forgot h3 {
        color: #fff;
        font-size: 14px;
        padding-top: 5px;
    }
    .forgot p {
        color: #fff;
        font-size: 10px;
    }
    .fields label {
        font-size: 16px;
    }
    .polocies span {
        color: #fff!important;
        font-size: 11px;
        align-items: center;
    }
    .fields input[type="text"]{
        padding: 6px 12px;
        font-size: 16px;
    }
    .bx-low-vision:before {
        content: "\eb51";
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .fields i {
        color: #ffffff5f;
        font-size: 16px;
        top: 38px;
    }
    .inline input {
        width: 12px;
        height: 12px;
        margin-right: 3px;
        font-family: "Roboto Regular";
    }

    .carousel {
        margin: 0px 12px;
        height: 230px;
        padding-left: 8px;
    }
    .carousel img {
        border-radius: 10px;
        height: 194px;
    }
    .inline a {
        font-size: 14px;
    }
    .inline span {
        font-size: 14px;
        font-family: 'Roboto';
    }
    
}
@media only screen and (max-width:325px){
    .middle-container {
        width: 292px!important;
        height: 445px;
        left: 50%;
    }
    .form-section {
        margin-top: -7px;
        width: 331px;
        position: absolute;
        left: 28%;
    }
    .cancel {
        position: absolute;
        right: 16.5rem;
    }
    .forgot-pin input {
        width: 33px;
        height: 33px;
        margin-right: 9px;
        font-size: 20px;
    }
    .forgot span {
        background-color: #fff;
        color: #000;
        font-size: 16px;
        padding: 2px 11px;
        padding-top: 5px;
        border: 2px solid #10414b61;
        border-radius: 4px;
        margin: 10px 0;
        font-weight: 700;
    }
    .forgot h3 {
        color: #fff;
        font-size: 16px;
        padding-top: 13px 
    }
    .forgot p {
        color: #fff;
        font-size: 13px;
    }
}
