.main-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.642);
  font-family: "Roboto";
  overflow: hidden !important;
  z-index: 9999;
}

.middle-container {
  width: 798px;
  height: 455px;
  background-color: #151B56;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 6px;
  z-index: 999999999;
}

.tint-color {
  background: transparent linear-gradient(270deg, #151B56 55%, #04118624 100%) 0% 0%;
  width: 800px;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  overflow: hidden !important;
}

.scroll {
  padding: 0 16px;
  position: relative;
  display: flex;
  /* margin-top: -15px; */
  margin-bottom: 8px;
  overflow: hidden !important;
}

.orb {
  width: 115px;
  height: 160px;
  background: #999;
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  overflow: hidden !important;
}

.orb img {
  width: 100%;
  border-radius: 6px;
  height: 160px;
}

/* Animation Class */
/* left-side-slides */
.scroll-wrapper {
  display: flex;
  -webkit-animation: marquee 50s linear infinite;
  animation: marquee 50s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll-wrapper-right {
  display: flex;
  -webkit-animation: marquee-right 50s linear infinite;
  animation: marquee-right 50s linear infinite;
}

@-webkit-keyframes marquee-right {
  0% {
    transform: translateX(-100);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


/* form-section */
.form-section {
  width: 410px;
  height: 100vh;
  border-radius: 0 10px 0 10px;
  background-color: #151B56;
  float: right;
  margin-right: 15px;
}

.form-items {
  position: relative;
  padding: 10px 25px;
}

.form-items h4 {
  color: #fff;
  padding: 25px 0 0px 0;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 25px !important;
}

.fields label {
  color: #ffffffd5;
  font-size: 15px;
  display: block;
  margin-bottom: 4px;
  font-weight: lighter;
}

.fields {
  margin: 18px 0;
  display: block;
  position: relative;
}
                    
.fields input[type="text"],
.fields input[type="password"]  {
  width: 100%;
  padding: 6px 12px;
  background-color: transparent;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ffffffa3;
  color: #fff;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline span {
  color: #ffffffd6;
  font-size: 16px;
  font-family: "Roboto Regular";
}

.inline input {
  width: 13px;
  height: 13px;
  margin-right: 3px;
  font-family: "Roboto Regular";
}

.inline a {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  color: #64ADFF;
}

.inline li {
  list-style: none;
}

.fields button {
  width: 100%;
  padding: 6px 12px;
  background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  border: none;
}

.line {
  height: 4px;
  background: transparent linear-gradient(90deg, #D75E5F 0%, #b150959e 35%, #5086ea 67%, #6ca8f2 100%) 0% 0% no-repeat padding-box;
  width: 165px;
  border-radius: 50px;
}

.fields p {
  color: #fff;
  margin-top: 0px;
  padding: 0 5px;
  font-family: "Roboto Regular";
  font-size: 20px;
}

.cancel {
  position: absolute;
  z-index: 99999999;
  right: 30px;
  top: 20px;
}

.cancel i {
  color: #ffffffac;
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.dont-account {
  margin-top: -20px;
  text-align: center;
}

.dont-account p {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
}

.dont-account a {
  text-decoration: none;
  color: #64ADFF;
  font-size: 16px
}

.fields i {
  position: absolute;
  top: 36px;
  right: 15px;
  color: #ffffff5f;
  font-size: 18px;
}


/* otp-section */

.forgot {
  text-align: center;
  align-items: center;
}
.PIN{
  margin-top: 5rem;
}
.forgot span {
  background-color: #fff;
  color: #000;
  font-size: 22px;
  padding: 0px 14px;
  padding-top: 5px;
  border: 2px solid #10414b61;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: 700;
}

.forgot h3{
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
}
.forgot p{
  color: #fff;
  font-size: 14px
}

.forgot-pin{
  display: flex;
}

.forgot-pin input{
  width: 47px;
  height: 47px;
  margin-right: 15px;
  font-size: 22px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

.polocies span{
  color: #fff!important;
  font-size: 14px;
align-items: center;
}

.success-logo{
  display: flex;
  justify-content: center!important;
  align-items: center;
}
.logo-center{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 5px solid #b2fcdc1c;
}
.logo-center img{
  display: flex;
  justify-content: center!important;
  align-items: center;
  width: 100%;
}