.why-text {
  text-align: center;
  margin: 20px 0;
}

.why-text h1 {
  color: #fff;
  font-size: 28px;
  font-family: 'Roboto';
}

.why-text p {
  color: #fff;
  font-size: 16px;
  max-width:650px;
  position: relative;
  left: 20%;
}


.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  width: 100%;
  border: none;
  background-color: transparent !important;
  margin-left: 30px;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  width: 100%;
  background: transparent linear-gradient(180deg, #222C85 0%, #11164300 100%) 0% 0% no-repeat padding-box;
}

.card .back {
  background: transparent linear-gradient(180deg, #489CF2 0%, #489CF266 52%, #489CF200 100%) 0% 0% no-repeat padding-box;
  transform: rotateY(180deg);
  opacity: 1;
}

.card-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
  height: 350px;
}

.card-logo {
  width: 100px;
  height: 80px;
  position: relative;
  margin: auto;
  top: 20px;
}

.card-logo img {
  width: 100%;
}

.card-text {
  text-align: center;
  color: #fff;
  padding: 5px;
  font-family: "Roboto";
}

.card-text p {
  margin-top: 2.2rem;
  font-size: 16px;
}

.card-text h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -13px;
}

.card-text span{
  font-size: 13px;
}

.cards{
 width: 220px;
}


/* -------------- Picture Quality Styles ------------ */

#root > div > div:nth-child(2) > div.img-wrapper > div > button > div > div:nth-child(1){
  width: 0px!important;
}

#root > div > div:nth-child(2) > div.img-wrapper > div > button > div > div:nth-child(3){
  width: 0px!important;
}

#root > div > div:nth-child(2) > div.img-wrapper > div > button > div > div.__rcs-handle-button > div:nth-child(1){
    border-top: 0px solid transparent!important;
    border-right: 0px solid !important;
     border-bottom: 0px solid transparent!important;
     width: 120px!important;
     background: url(../images/drag-btn.svg)!important;
     height: 120px!important;
     background-repeat: no-repeat!important;
     background-position: center!important;
     background-size: cover!important;
     
}

#root > div > div:nth-child(2) > div.img-wrapper > div > button > div > div.__rcs-handle-button > div:nth-child(2){
  border-top: 0px solid transparent!important;
  border-right: 0px solid!important;
  border-bottom: 0px solid transparent!important;
}

#root > div > div:nth-child(2) > div.img-wrapper > div > button > div > div.__rcs-handle-button{
  overflow: hidden!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  backdrop-filter: blur(0px)!important;
  margin: auto;
  width: 150px!important;
  height: 150px!important;
  border-width: 0px!important;
  box-shadow: none!important;
  border-radius: none!important;
  background-color: transparent!important;
}

/* true-akash-hd-tv */
.img-wrapper{
  position: relative!important;
  display: block;
}
.true-akash{
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 4.5rem;
  top:6rem;
  padding: 10px 35px;
}
.true-akash h1{
 text-align: center;
 margin-top: 35px;
 font-size: 28px;
 padding: 0 45px;
 font-weight: 600;
}

.hd-logo{
  width: 70px;
  height: 50px;
position: relative;
margin: auto;
margin-top: 20px;
}
.hd-logo img{
  width: 70px;
  height: 50px;
}
.true-akash p{
text-align: center;
font-size: 16px;
font-weight: lighter;
padding: 10px;
margin-top: 10px;
}

.true-akash h4{
  text-align: center;
  color:red;
  font-size: 20px;
  padding: 0 50px;
font-weight: 500;
}


