.Tab-container .Tabs {
    position: relative;
    margin: auto;
    transform: translate(-50% -50%) !important;
    margin-top: 15px;
}

.Tab-container .nav-tabs {
    width: 600px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}



.Tab-container .nav-link {
    width: 200px;
    border: none !important;
    transition: 0s !important;
    color: black !important;
    font-size: 15px;
}

.Tab-container .nav-link.active {
    border-radius: 50px !important;
    margin-bottom: 0;
    background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF29;
    transition: 0s !important;
    padding: 12px 0;
    color: #fff !important;
}

/* profile section */
/* .header {
    margin-top: 25px;
} */

.header h1 {
    font-size: 22px;
    color: #ffff;
}

.header p {
    color: #fff;
    font-size: 14px;
}

.profile-section {
    background: transparent linear-gradient(180deg, #151C5F 0%, #10164B00 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-top: -3rem !important;
    margin: 0 2.2rem;
    padding: 2.3rem 5rem;
    padding-top: 45px;
}

.profile-content {
    padding-top: 38px;
}

.profile-content {
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    min-height: 200px;
}

.connections {
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    min-height: 200px;
    padding: 25px 14px;
    position: relative;
}

.connect {
    border-right: 2px dashed #ffffffa6;
}

.subscribe {
    align-items: center;
}

.subscribe h4 {
    color: #fff;
    font-size: 16px;
}

.subscribe i {
    width: 28px;
    height: 28px;
    background: #2570C7 0% 0% no-repeat padding-box;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    margin-right: 10px;

}

.password-Btn button {
    background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: #fff;
    padding: 6px 13px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 38px;

}

.password-Btn i {
    padding: 0 2px;
}

.track {
    margin-top: 25px;
}

.track span {
    color: white;
    font-size: 22px;
}

.details {
    padding: 0px 15px 0px 28px;
    border-left: 2px dashed #fff;
    margin-top: 10px !important;
    margin-left: 11px !important;
}

.details p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0.5rem;
}

.note {
    margin-top: 62px;
    margin-left: 23px;
}

.note p {
    color: #fff;
    font-size: 16px;
    font-family: "Roboto";
    margin-left: -25px;

}

.note a {
    text-decoration: none;
    margin-left: -25px;
    color: #2019f1;
}

.accounts-section {
    border: none !important;
    min-width: 159px;
    outline: none;
    margin-left: -14px !important;
    text-align: left;
    font-size: 15px;
    margin-bottom: 4px;
}

.ctable {
    margin-top: 26px;
}

.accounts-section option {
    background: none;
    background: #151C5F;
    border: none !important;
}

.accounts-section:hover {
    background: transparent !important;
}

.map-section span {
    width: 40px;
    height: 40px;
    background-color: #151C5F;
    text-align: center;
    padding-top: 8px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
}

.map-section h1 {
    font-size: 18px;
    color: #fff;
    padding-top: 10px;

}

.map-section {
    margin-left: -20px !important;
}

.connections h1 {
    font-size: 16px;
    color: #fff;
    margin-top: 0px;
}

.connections h2 {
    font-size: 15px;
    color: #fff;
    text-align: right;
    letter-spacing: 1px;
}

.connections p {
    font-size: 15px;
    color: #fff;
    padding: 0px 0px 0px 5px;
    margin-top: -5px;
}

.connections span {
    color: #fff;
    padding: 5px 5px 0px 15px;
    cursor: pointer;
    margin-top: -2px;
}


.pack-logo img {
    width: 115px;
    margin-top: 12px;
    margin-left: 20px;
}

.dth-log img {
    width: 100%;
    border-radius: 6px;
}

.rig-clm {
    padding: 0px 5px;
}

.recharge button {
    width: 150px;
    border: none;
    margin: 9px 0;
    margin-left: 18px;
}

.rig-mid {
    margin-top: 18px;
}

.recharge button:nth-child(1) {
    background: transparent linear-gradient(84deg, #ed2963 0%, #bb238e 40%, #675199 100%) 0% 0% no-repeat padding-box !important;
    padding: 8px 5px;

}

.recharge button {

    padding: 8px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    opacity: 0.9;
}

.recharge button:nth-child(1):hover {
    background: transparent linear-gradient(84deg, #b82853 0%, #932974 40%, #2d208a 100%) 0% 0% no-repeat padding-box !important;
}

.recharge button:nth-child(2) {
    background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box !important;
}


.items h3 {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    align-items: center;
    margin-left: -8px;
}

.items span:nth-child(1) {
    color: red;
    background-color: white;
    font-size: 12px;
    border: 1px solid red;
    padding: 1px;
}

.items span:nth-child(2) {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 12px;
    border: 1px solid rgb(0, 0, 0);
    padding: 1px;
}

.items button {
    width: 180px;
    height: 35px;
    opacity: 1;
    border-radius: 5px;
    color: white;
    background: none;
    border: 1px solid #fff !important;
    transition: 0.5s;
    font-size: 14px;
    margin-right: -7px;
}

.noContent .view-more{
    margin-top: 18px!important;
}
.noContent p:nth-child(2){
    color: rgb(108, 107, 107)!important;
    }



.items button:hover {
    border: none !important;
    background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box !important;
}

.chanels {
  padding: 0 10px;
}

.channel-log {
    background: rgb(255, 255, 255);
    width: 80px;
    height: 75px;
    border-radius: 5px;
    margin-top: 15px;
}
.flex .col-md-1{
    width: 10%;
}

.chanels img {
    width: 100%;
    /* height: 65px; */
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}
.nav-items{
text-decoration: none!important;
list-style: none;
}
.flex{
    margin-left: -18px;
}

.Loadmore{
    margin: 0 -10px;
}
.view-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px!important;
}

.faq{
    color: #2019f1!important;
    font-size: 16px!important;
    cursor: pointer;
}
.nav-items{
    margin-top: 18px!important;
}
.view-more p {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.view-more .bx {
    font-size: 14px;
}

.acc-details p {
    color: #fff;
    margin-bottom: 1px !important;
}

.recent button {
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: 160px;
    background: transparent linear-gradient(180deg, #489CF2 0%, #0076FE 51%, #4895F6 100%) 0% 0% no-repeat padding-box !important;
}

.table th {
    background: #0E3295 0% 0% no-repeat padding-box;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    padding: 13px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #fff;
    margin-left: 15px;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 100%;
    height: 120px;
    background: #fff;
    border-radius: 100%;
}

.left-img {
    background-color: red;
}

.table td {
    background: #183EA8 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 13px;
    font-weight: lighter;
    font-size: 14px;
    position: relative;
}

.table tr {
    border-bottom: 2px solid #1a3379;
}

.table button {
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 95px;
    background: transparent linear-gradient(84deg, #b82853 0%, #932974 40%, #575183 100%) 0% 0% no-repeat padding-box !important;
    font-size: 13px;
    margin-top: 0px;
}

.list a {
    text-decoration: none;
}

.recharge {
    margin: 32px 10px 0px;
}

.bill {
    margin: 0 3rem !important;
    margin-top: -3rem !important;
    padding: 2.3rem;
}

.table span {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #20D46E;
    margin: 4px 5px;
    border-radius: 50%;
    border: 3px solid #2f6b54b9;
    cursor: pointer;
}

.glow {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #20D46E;
    margin: 0 5px;
    border-radius: 50%;
    border: 3px solid #469275b9;
    cursor: pointer;
    top: 8.6rem !important;
    padding: 0 !important;
}

/* ---------mapping-section---------- */

.message-bar{
 position: relative;
 left: 50%;
 transform: translate(-50%);
 background: #fff;
 width: 440px;
 border-radius: 50px;
 margin-top: -4.5rem;
 height: 48px;
 padding: 0px 10px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.bar-items input{
    width: 350px;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.bar-items button{
    border: none;
    width:60px;
    padding: 3px 5px;
    border-radius: 0 20px 20px 0px;
    background-color: transparent;
    border-left: 1px solid rgba(128, 128, 128, 0.548);
}

.bar-items span{
    color: #358DF8;
    font-size: 27px;
    padding: 5px;
}
/* .Tab-container{
    height: 350px;
} */
